/* 
p.bar p태그 bar 클래스가 있어야 적용

.bar.foo foo 와 bar 클래스 모두 있어야 적용

#foo.bar foo 아이디와 bar 클래스 모두 있어야 적용

p[class] p 태그에 class 속성이 있어야 적용

p[class][id] p 태그에 class 속성과 id 속성 모두 있어야 적용

p[class = "foo"] p 태그에 foo 클래스가 있어야 적용

p[id = "foo"] p 태그에 foo 아이디가 있어야 적용

p[class = "foo"][id="title"] p 태그에 foo 클래스와 title 아이디가 있어야 적용

[class~="bar"] : class 속성의 값이 공백으로 구분한 "bar" 단어가 포함되는 요소 선택

[class^="bar"] : class 속성의 값이 "bar"로 시작하는 요소 선택

[class$="bar"] : class 속성의 값이 "bar"로 끝나는 요소 선택

[class*="bar"] : class 속성의 값이 "bar" 문자가 포함되는 요소 선택

div span  <div>의 자손 요소인 <span>를 선택하는 선택자 

div > h1 <div>의 자식 요소인 <h1>를 선택하는 선택자 

div + p 인접 형제 선택자는 형제 관계이면서 바로 뒤에 인접해 있는 요소를 선택하는 선택자


//가상클래스//
:first-child : 첫 번째 자식 요소 선택

:last-child : 마지막 자식 요소 선택

:link : 하이퍼 링크이면서 아직 방문하지 않은 앵커

:visited : 이미 방문한 하이퍼링크를 의미

:focus: 현재 입력 초점을 가진 요소에 적용

:hover: 마우스 포인터가 있는 요소에 적용

:active: 사용자 입력으로 활성화된 요소에 적용

//가상요소//
:before : 가장 앞에 요소를 삽입

:after : 가장 뒤에 요소를 삽입

:first-line : 요소의 첫 번째 줄에 있는 텍스트

:first-letter : 블록 레벨 요소의 첫 번째 문자

//구체성//
0, 1, 0, 0 : 선택자에 있는 모든 id 속성값

0, 0, 1, 0 : 선택자에 있는 모든 class 속성값, 기타 속성, 가상 클래스

0, 0, 0, 1 : 선택자에 있는 모든 요소, 가상 요소

인라인 스타일의 구체성 값은 1, 0, 0, 0

전체 선택자는 0, 0, 0, 0을 가진다.

조합자는 구체성에 영향을 주지 않는다. (>, + 등)

important 키워드는 별도의 구체성 값은 없지만, 모든 구체성을 무시하고 우선권을 갖는다.

important 키워드는 속성값 뒤 한 칸 공백을 주고 느낌표 기호와 함께 쓴다.

//상속//
박스 모델 속성들은 상속되지 않는다

상속된 속성은 아무런 구체성을 가지지 못한다.

//케스케이드 규칙//
1. 중요도(!important)와 출처
2. 구체성
3. 선언 순서
*/

.box { color: red !important; }
.index > .in_item { color: pink; }
div ul .in_item { color: orange; }
.in_item.in1 { color: black; }
p + ul.index { color: yellow; }


